@import 'zero_style.scss';

.promo {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 50vw;

  .wrapper {
    width: 100%;
    height: 50vw;
    left: 0px;
    top: 0px;
    z-index: 2;
    background: linear-gradient(
      0.87deg,
      rgba(2, 55, 135, 0.9) 0.69%,
      rgba(81, 38, 174, 0.4736) 100.48%,
      rgba(38, 92, 174, 0.0102906) 100.49%,
      rgba(195, 195, 196, 0.00520833) 100.5%,
      #76a6ef 100.51%
    );
  }
  .img-bg {
    position: absolute;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.cards {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 95vw;

  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
}
.blocks {
  display: inline-block;
  width: 398.68px;
  height: 547px;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: middle;
  align-items: center;
}
.blocks-content {
  width: 398.68px;
  height: 447px;
  .img-content {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
    height: 447px;
  }
}

.blocks-footer {
  display: block;
  width: 398.68px;
  height: 67px;
  background: #ffffff;
  box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);
}
#footer-content {
  display: block;
  text-align: center;
}

.image-cards {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  height: 32px;
}
.text-cards {
  display: inline-block;
  line-height: 5em;
  padding-left: 5%;
  vertical-align: middle;
  width: auto;
}

.housesale-block {
  width: 1240px;
  margin: auto;

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
  font-family: 'Open Sans', sans-serif;
  .header-housesale-block {
    display: inline;
    p {
      padding-bottom: 25px;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 49px;
    }
  }

  .housesale-group {
    display: block;
    #housesale-group1 {
      display: inline-block;
      width: 100%;
      padding-bottom: 15px;
    }
  }
  .housesale-img {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
  }
  .housesale-text {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    padding-left: 15px;
    line-height: 21pt;
    #top {
      font-style: normal;
      font-weight: 400;
      font-size: 29px;
      line-height: 40px;
    }
    #botton {
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 29px;
    }
  }
}
